# ==========================================
# 1. 안드로이드 SDK 및 에뮬레이터 무거운 엔진 (가장 중요)
# ==========================================
# 수백 MB ~ 수 GB에 달하는 SDK 도구와 OS 이미지 폴더 제외
android_sdk/
.android/

# ==========================================
# 2. 파이썬 가상환경 및 캐시 파일
# ==========================================
# 내장형 무설치 파이썬 환경 폴더 제외
python_env/

# 파이썬 실행 시 자동으로 생성되는 바이트코드 캐시 디렉토리 제외
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# ==========================================
# 3. 임시 다운로드 캐시 디렉토리
# ==========================================
# 구글 서버에서 압축 파일을 받아오던 임시 공간들 제외
sdk_downloads_windows/
python_download/
sdk_fix_downloads/

# ==========================================
# 4. 개발 툴 및 OS 자동 생성 파일
# ==========================================
# VS Code 설정 폴더 제외
.vscode/

# PyCharm 설정 폴더 제외
.idea/

# 윈도우 시스템이 폴더 아이콘 캐시용으로 자동 생성하는 파일 제외
Thumbs.db
ehthumbs.db
Desktop.ini

# ==========================================
# 5. 최종 결과물 및 로그
# ==========================================
# 배포를 위해 빌드된 최종 압축 파일은 깃허브가 아닌 Release 기능을 통해 배포하므로 제외
*.zip
*.tar.gz
*.rar

# 실행 중 임시로 기록된 로그 파일 제외
*.log


quickstart_images/
developer_notes.md
quickstart_s3s_guide.md
steps_documentation.md
screenshots/

/generated.json
/config*.txt
/run-and-upload-to-server.sh
/stats.csv
/cron-log.log

/config*
/screenshots/**/actual*
__pycache__

.idea
*.iml
